<div class="navbar">
    <div class="menuContainer">
        <button mat-icon-button (click)="open('abrite')"><mat-icon>menu</mat-icon></button>
        <img src="assets/javit-invertido.svg" alt="" style="margin-left: 25px;">
    </div>
    <div>
        <button [matMenuTriggerFor]="userMenu" mat-mini-fab class='mat-elevation-z0' style="background-color: #bdbdbd;"><mat-icon style="color: white;">person</mat-icon></button>
    </div>
</div>
<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
    </button>
</mat-menu>
