.navbar {
    height: 64px;
    background-color: rgb(0, 155, 219);
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    align-items: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}