<div>
    <h3>Nueva entidad</h3>
    <form [formGroup]='carrier' (ngSubmit)="onSubmit()" class="crud" >
        <mat-form-field>
            <mat-label>Código</mat-label>
            <input matInput formControlName='codigo'>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName='nombre'>
        </mat-form-field>
        <div class="buttonsContainer">
            <button mat-button type="button" color="primary" (click)='onClose()'>Cancelar</button>
            <button mat-raised-button color="primary">Guardar</button>
        </div>
    </form>
</div>