<app-navbar (openMenu)="toggleSideNav()"></app-navbar>

<mat-sidenav-container
  style="background-color: transparent"
  (backdropClick)="close()"
>
  <mat-sidenav
    class="sidenavMenu"
    #sidenav
    (keydown.escape)="close()"
    disableClose
  >
    <button mat-button (click)="openModal()">Agregar transportista</button>
    <button mat-button (click)="logout()">Cerrar sesión</button>
    <button mat-button (click)="close()">Cerrar menú</button>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <h2 class="title">Transportistas</h2>
    <div class="mat-elevation-z3 tableContainer">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let carrier">{{ carrier.codigo }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let carrier">{{ carrier.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef='let carrier'>
            <div style="text-align: end;">
              <button mat-icon-button class="actionButton" (click)='openModal(carrier)'><mat-icon>edit</mat-icon></button>
              <button mat-icon-button class="actionButton" (click)='deleteCarrier(carrier.id)'><mat-icon>delete</mat-icon></button>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let carriers; columns: columnsToDisplay"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>

    <button class="addButton" mat-fab (click)="openModal()">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >add</mat-icon
      >
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
