table {
    width: 100%;
    margin: auto;
}
button {
    margin: 10px;
}

.addButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.container {
    height: 88.8vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sidenavMenu {
    padding-top: 80px;
    width: 25%;
}

.tableContainer {
    width: 70%;
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

.actionButton {
    color: gray;
}

.actionButton:hover {
    background-color: rgb(236, 236, 236);
    color: rgb(0, 155, 219);
}