.container {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.enterButton {
    padding: 5px
}

h3 {
    font-size: 1.5rem;
}