<mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile style="background-color: #009BDB;">
        <img src="assets/logo-invertido.svg" style="width: 30%;">
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #F6F7FF;" >
        <div class='container'>
            <div>
                <img src="assets/javit.svg">
            </div>
            <h3>Iniciar sesión</h3>
            <form [formGroup]="loginForm" class="formContainer" (submit)="login()">
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName='email'>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName='password' type="password">
                </mat-form-field>
    
                <button mat-flat-button color='primary' class="enterButton" [disabled]="loginForm.invalid">Ingresar</button>
            </form>
        </div>
    </mat-grid-tile>
  </mat-grid-list>

<h1>Editor de transportistas Javit</h1>
<h2>Somos un servicio de envíos que une a e-commerce con clientes de todo el país.</h2>
<button mat-raised-button color='primary' (click)='handleClick()'>Comenzar</button>
